@charset "UTF-8";

/* ========= RESET CSS =============== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


/* ========= CSS GERAL =============== */

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte-padrao: 'Sansation', Verdana, Helvetica, sans-serif;
    --font-destaque: 'Cal Sans', sans-serif;
    --font-android: 'Arial', sans-serif;
    --min-font: 1rem;
    --max-font: 1.8rem;
    --ideal-font: 0.5vw + 1rem;
}

body {
    font-family: var(--fonte-padrao);
    font-size: clamp(var(--min-font), var(--ideal-font), var(--max-font));
    background-color: var(--cor0);
    color: var(--cor5);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-destaque);

}

header {
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor5));
    min-height: 15rem;
    text-align: center;
    padding-top: 4rem;
}

header>h1 {
    font-size: 3rem;
    color: var(--cor5);
    text-shadow: 2px 2px 4px var(--cor0);
}

header>p {
    font-size: 1.2rem;
    color: #fff;
    max-width: 60rem;
    margin: 0 auto;
    padding-inline: 2rem;
}

nav {
    background-color: var(--cor5);
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 0 10px var(--cor4);
}

nav>a {
    color: var(--cor0);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in-out;
}

nav>a:hover {
    background-color: var(--cor1);
    color: var(--cor5);
    box-shadow: 0 0 10px var(--cor4);
}